# Logs
*.log

# Dependency Directories
node_modules
package-lock.json

# Build
dist

# Environment Variable Files
.env
.env.*
!.env.example

# HTML & CSS
.html
.css

# Developer Directories
.Extras
uploads
.claude
